header,
nav,
main,
footer {
  max-width: 60rem;
  margin: auto;
}
#navwrapper {
  background-color: $accentColor;
}

nav {

  ul.navLinks,
  ul.navLinks.open {
    justify-content: flex-end;
    display: flex;
    background-color: $accentColor;
    li a {
      margin: 0;
      padding: 0.6rem 1rem;
      border: none;
      color: $secondaryColor;
    }
    li.active a {
      background-color:rgba(56, 56, 56, 0.2);
      border-radius:10px;
    }
    li a:hover {
      background-color:rgba(56, 56, 56, 0.2);
      border-radius:10px;
    }
  }
}

#navButton {
  display: none;
}

//MAIN

#mainWrapper {
  .allCards {
    div {
      flex-basis: calc(33.3333% - (($gutter * 2) / 3));
    }
    section {
      height: 100%;
    }
  }
}

#footerWrapper {
  footer div {
    display: grid;
    grid-template-columns: auto auto auto;
    
    section.location {
      text-align:end;
    }
    }
  }

