$primaryColor: rgb(38, 50, 56);
$secondaryColor: rgb(222, 222, 222);
$accentColor:rgb(204, 84, 0);
$fontColor: #333;
$defaultFont:"Sometype Mono", serif;
$lightWeight:400;
$normalWeight:500;
$boldWeight:600;
$gutter: 16px;